# Default owner for this repository
* @MinimaxFlora

.config                     @MinimaxFlora
diy-part1.sh                @MinimaxFlora
diy-part2.sh                @MinimaxFlora
diy-part3.sh                @MinimaxFlora
files/                      @MinimaxFlora
patches/                    @MinimaxFlora
scripts/                    @MinimaxFlora
.github/                    @MinimaxFlora
